<% if @vacation.errors.any? %>
<%= render partial: '/errors', locals: { record: @vacation } %>
<% end %> 


<%= form_for @vacation do |f| %>
    
    
    <%= f.label :country %>
    <br>
    <select name="country" >
    <% LocationScraper.scrape_locations.each do |country| %>
        <option> <%= country %> </option> 
        <% end %> 
        </select>
        
        

    <div class="form-group">
    <%= f.label :city, "Please enter a city name" %>
    <br>
    <%= f.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <br>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :enjoyment_rating, "On a scale of 1-5 how much did you enjoy your trip?" %>
      <br>
      <%= f.number_field :enjoyment_rating, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :duration, "How long where you there" %>
      <br>
      <%= f.number_field :duration, class: "form-control" %>
      
    </div>

    <div class="form-group">
      <%= f.label :solo_traveler, "Did you go alone?" %>
      <br>
      <select name="solo_traveler" >
      <option value="yes">Yes</option>
      <option value="no">No</option 
      </select> 
    </div>
    <br>

    <div class="actions">
      <br/>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  
  <% end %> 