



   
   <h1>Welcome <%= @user.username %></h1>
   
    <h2>Your Vacations!</h2> 
    
    <ul>

    <% @vacation.each do |vacation| %>
      <h3> <a id="link" href="/vacations/<%=vacation.id%>"> <%= vacation.country  %> <%= vacation.city  %> <%= vacation.enjoyment_rating %>/5 <br> </a> </h3>
    <% end %>

    </ul>
  

    <br>
    <br>
    <%= link_to "Add a New Vacation", '/vacations/new' %>
    <br>
    <br>
    <%= link_to "Logout", '/logout' %>
