


    <h1>Your Vacation!</h1> 
  
    
        <% if @vacation.solo_traveler == true %>
         <p>wow look at you you went alone!</p> 
        <% else %> 
         <p>i hope you had fun with your friends!</p>
        <% end %>

        
      <p>  <%= @vacation.country %> </p>
       <p> <%= @vacation.city %> </p>
       <p> <%= @vacation.description %> </p>
       <p> <%= @vacation.duration %> weeks </p>
       <p> <%= @vacation.enjoyment_rating %>/5 </p>
       
    
       <%= link_to "Edit", edit_vacation_path(@vacation) %>       
<br>
<br>
<%= link_to "Delete", @vacation, :method => :delete %>
<%= link_to "Have You Been", new_vacation_visit_path(@vacation) %> 