<% if @visit.errors.any? %>
<%= render partial: '/errors', locals: { record: @vacation } %>
<% end %> 


<%= form_for @visit do |f| %>
    
    
    <%= f.label :vacation %>
    <br>
    <select name="vacation" >
    <% @vacation.each do |vacation| %>
      <%= vacation.country  %>, <%= vacation.city  %>
    <% end %> %>
        <option> <%= country %> </option> 
        <% end %> 
        </select>
        
        

    
    <div class="form-group">
      <%= f.label :have_you_visited_before, "Have You Been Before?" %>
      <br>
      <select name="have_you_visited_before" >
      <option value="yes">Yes</option>
      <option value="no">No</option 
      </select> 
    </div>
    <br>

    <%= f.hidden_field :vacation_id, value: @vacation.id %>

    <div class="actions">
      <br/>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  
  <% end %> 