<% if @user.errors.any? %>
<%= render partial: '/errors', locals: { record: @user } %>
<% end %> 

<%= form_for @user do |f| %>
     
  
    <div class="form-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :username, "Username" %>
      <br>
      <%= f.text_field :username, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <br>
      <%= f.text_field :email, class: "form-control" %>
    </div>
  
  
    <div class="form-group">
      <%= f.label :password %>
      <br>
      <%= f.password_field :password, class: "form-control" %>
  
    <div class="actions">
      <br/>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  
  <% end %> 