<!DOCTYPE html>
<html>
  <head>

  <div class="topnav">
    <a class="active" href="/vacations">Home</a>
    <a href="/vacations/new">Add a Vacation</a>
    <a href="#news">Places You've Visited</a>
    <a href="#contact">Places You Want to Visit</a>
    <a href="#about">Logout</a>
  </div>


    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    


  </body>
</html>
